body {
  background-image: url(48sv44jin6m71.gif);
  background-size: cover;
  scroll-behavior: smooth;
  min-height: 100vh;
  font-size: 1rem; /* changed from 16px */
}

.card-body {
  justify-content: center;
  align-items: center;
}

.card {
  background-image: url(48sv44jin6m71.gif);
  animation: grow 1s ease-in-out both;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  animation: blink 2s linear infinite;
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

img {
  border-radius: 0%;
  margin-top: 10vh; /*changed from 10%*/
  margin-bottom: 10vh; /*changed from 10%*/
  width: 100%;
}

#nav-pills {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: transparent; /*changed from #ffffff00*/
  padding: 1rem;
}

#nav-fill {
  display: block;
  margin-bottom: 1rem; /*changed from 10px*/
}


#about-section {
  height: auto;
  padding: 1rem;
  text-align: justify;
}

#works-section {
  height: auto;
  padding: 1rem;
}

#message-section {
  height: auto;
  padding: 1rem;
}

.bg-image {
  background-size: cover;
  height: 50vh; /* changed the default value */
}

.carousel-indicators {
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.875rem; /* changed from 14px */
  }
  
  #works-section .container ul {
    text-align: center;
  }

  .bg-image {
    height: 30vh; /* changed from 50vh */
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    height: auto;
    margin: 1rem; /* changed from 5px */
  }

  #nav-pills {
    left: 10px;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  body {
    font-size: 0.9375rem; /* changed from 15px */
  }

  .bg-image {
    height: 40vh; /* changed from 60vh */
  }
}

@media screen and (min-width: 769px) {
  body {
    font-size: 1.125rem; /* changed from 18px */
  }

  .bg-image {
    height: 50vh; /* changed from 70vh */
  }
}

.card-1,
.card-2,
.card-3,
.card-4 {
  background-image: url(note.jpg);
  height: auto;
  margin: 1rem;
  padding: 1rem;
  text-align: justify;
}

